.price-cards-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;

}

.card {
  display: flex;
  width: 400px;
  height: 400px;
  position: relative;
  flex-direction: column;
}
