<!DOCTYPE html>
<html>
  <head>

    <title>Anna CI Test RoR</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.3/css/all.css" integrity="sha384-SZXxX4whJ79/gErwcOYf+zWLeJdY/qpuqC4cAa9rOGUstPomtqpuNWT9wdPEn2fk" crossorigin="anonymous">

<script id="CookieConsent" src="https://policy.app.cookieinformation.com/uc.js" data-culture="EN" type="text/javascript" data-tcf-v2-enabled="true" data-tcf-global-scope="false"></script>

<!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-K9BHN3N');</script>
<!-- End Google Tag Manager -->


    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
  </head>

  <body style="margin-left: 100px; position: relative; margin-right: 100px; padding-top: 50px;">

  <!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-K9BHN3N"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->


    <nav class="navbar navbar-expand-lg navbar-light bg-light" style="opacity: 0.7 !important;">
  <div class="container-fluid">
    <img src="https://cookieinformation.com/wp-content/uploads/ci-logo-for-light-background.svg" alt="Cookie Information CMP logo" width="232" height="33">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link active" aria-current="page" href="/pages/home">Home</a>
        <a class="nav-link" href="/pages/about">About</a>
        <a class="nav-link" href="/pages/pricing">Pricing</a>
        <a class="nav-link" href="/pages/policy">Policy</a>
      </div>
    </div>
  </div>
</nav>
    <%= yield %>

<!-- Start of HubSpot Embed Code -->
<script type="text/javascript" id="hs-script-loader" async defer data-consent-src="//js.hs-scripts.com/5354868.js" data-category-consent="cookie_cat_statistic"></script>
<!-- End of HubSpot Embed Code -->

  </body>
  <footer style="bottom: 0; opacity: .5; height: 150px;">
Made with <i class="fas fa-heart" style="color: red; padding-top: 20px;"></i> by Cookie Information
  </footer>
</html>
